---
import Header from "../components/Header.astro";
import BlurCircle from "@/components/shared/BlurCircle.astro";
import theme from "@/data/theme";
import SEOTags from "@/components/seo/SEOTags.astro";
import type { HeadTags } from "@/utils/types/HeadTags";
import presentation from "@/data/presentation";
import "@fontsource/open-sans";
import "@/styles/tailwind.css";
import "@/styles/post.css";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <SEOTags {...headTags} />

  <body
    class="mx-auto flex min-h-screen max-w-[872px] flex-col gap-9 bg-stone-100 px-10 py-8 text-lg text-neutral-900 md:gap-20 md:py-16"
  >
    <Header />
    <BlurCircle position="top" color={theme.colors.blur.top} />
    <BlurCircle position="bottom" color={theme.colors.blur.bottom} />
    <slot />
    <p>
      <a
        href={presentation.socials[0].link}
        class="text-blue-500 underline hover:text-pink-400">{presentation.socials[0].label} (Opens in a new tab)</a
      >
    </p>  
    <style is:global>
      html {
        font-family: "Helvetica Neue";
      }
    </style>
  </body>
</html>
